body, html {
  margin:0;
  left:0;
  top:0;
  font-family:'Nunito Sans', sans-serif;
}
/*global*/
.center-full-div {
  text-align:center;
  color:#666666;
  width:100%;
  margin-top:10%;
}

.center-full-div h1 {
  text-transform:uppercase;
  line-height:0.5em;
  letter-spacing:0.05em;
  font-size:1.2em;
  font-weight:800;

}
.button {
  font-family:'Nunito Sans', serif;
  font-size:0.8em;
  font-weight:100;
  margin:auto;
  width:20%;
  padding:1.5%;
  border-radius:1em;
  line-height:0.8em;
  border: 0.05em solid #4873EB;
  color:#4873EB;
  cursor:pointer;
  text-align:center;
}
.button:hover {
  background-color:#4873EB;
  color:white;
}
/*contents*/
.freq_table {
  display:inline-block;
  margin:5%;
  vertical-align: middle;
}

#label1, #label2, #label3{
  transform:scale(0.5);
  vertical-align: middle;
  transform-origin: -15% 80%;
  margin-left:-5%;
}

.ball {
  width:2em;
  height:2em;
  border-radius:50%;
}

.redball {
  background-color:#ED254B;
}

.greenball {
  background-color:#C7FFD4;
}

.cube {
  width:1.5em;
  height:1.5em;
}

.bluecube {
  background-color:#3FA9F5;
}

.yellowcube {
  background-color:#FBC83B;
}

/*status bar*/
.status-bar {
  width:50%;
  text-align:center;
  margin:auto;
  position:relative;
}
.status-bar:before {
  content: '';
  position: absolute;
  top: 85%;
  left: 2%;
  border-top: 1px solid #CCCCCC;
  width: 88%;
  transform: translateY(-50%);
}
.stage {
  display:inline-block;
  text-align:center;
}
.circle-cue {
  width:1em;
  height:1em;
  background-color:#C75500;
  border-radius:50%;
}

.stage h3 {
  color:#C75500;
  text-transform:uppercase;
  font-weight:300;
  letter-spacing:0.05em;
  font-size:0.8em;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.links {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/*panels*/
.scroll-post {
  scroll-snap-type: x mandatory;
  margin-top:3%;
  padding-left:20%;
  white-space: nowrap;
    overflow-x: scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    padding-right:20%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.panel {
  cursor:pointer;
  scroll-snap-align: center;
  width:80%;
  height:60vh;
  box-shadow:0.05em 0.05em 1em #CCC;
  border-radius:2em;
  margin:5%;
  display:inline-block;
  transition:0.25s ease-in-out;
}
.panel iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#panel1 {
  z-index:100;
  cursor:pointer;
}
.container {
  text-align:center;
  overflow:hidden;
  width:100%;
  height:100%;
  position: relative;
  color: #666666;
}
.header h1 {
  padding-top:10%;
  text-transform:uppercase;
  line-height:0.5em;
  letter-spacing:0.05em;
  font-size:1.2em;
  font-weight:800;
  
}
.header h2 {
  line-height:0.5em;
  font-size:0.8em;
  letter-spacing:0.08em;
  text-transform:uppercase;
  font-weight:400;
  
}
#prediction {
  width:50%;
  display:inline-block;
}
.results h3 {
  line-height:0.5em;
  font-size:0.8em;
  letter-spacing:0.08em;
  text-transform:uppercase;
  font-weight:400;

}
#result-message {
   padding-top:5%;
   padding-bottom:2%;
  text-transform:uppercase;
  line-height:0.5em;
  letter-spacing:0.05em;
  font-size:1.2em;
  font-weight:800;
  animation: fadeIn 2s;
}

#default-message {
  position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:auto;
    vertical-align:middle;
    text-align:left;
    text-transform:uppercase;
    line-height:0.5em;
    letter-spacing:0.05em;
    font-size:1.2em;
    font-weight:800;

}
.selection {
  white-space: normal;
  display:inline-block;
  width:45%;
  margin-right:10%;
  vertical-align:middle;
}
.selection div {
  margin:8%;
  display:inline-block;
  cursor:pointer;
  transition:0.25s ease-in-out;
}

#selection1 {
  width:3em;
  height:3em;
  border-radius:50%;

}
#selection2 {
  width:3em;
  height:3em;
  border-radius:50%;

}
#selection3{
  background-color:#3FA9F5;
  width:3em;
  height:3em;

}
#selection4 {
  background-color:#FBC83B;
  width:3em;
  height:3em;

}
#ball_result {
  width:1.5em;
  height:1.5em;
  border-radius:50%;
  margin-left:20%;
}
#square_result {
  width:1.5em;
  height:1.5em;
  margin-left:20%;
}
.results h3 {
  display:inline-block;
}
.results div {
  margin-top:5%;
  display:inline-block;
}
.panel .content {
  margin-top:10%!important;
}
@media screen and (max-width:768px) {
  .scroll-post{
    padding-left:5%;
    margin-top:40%;
  }
  .panel {
    width:100%;
    height:30vh;
    padding:5%;
  }
}

@media screen and (min-width:1920px){
  .status-bar:before {
    width:92%;
  }
}